body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #555555;
}

header {
    background:#002171 url("sunset.jpg") no-repeat right;
    line-height: 400%;
    text-indent: 1em;
    color: #FFFFFF;
}

nav {
    font-weight: bold;
    background-color: #BBDEFB;
}

nav a {
text-decoration: none;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1976D2;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}
ul {
    list-style-image: url('marker.gif');
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

dt {
    color: #002171;
}

.resort {
    font-weight: bold;
    color: #1976D2;
}
#contact {
    font-size: 90%;
}